--
-- PostgreSQL database cluster dump
--

\restrict 5lRDGoQ20RyT3R6heTLULXlPqId1a6mt0WDaexqDwD2a8ZLnJBEQpsC45wA5OtP

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE nexus_db;




--
-- Drop roles
--

DROP ROLE nexus;


--
-- Roles
--

CREATE ROLE nexus;
ALTER ROLE nexus WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:SvV/lCfziwxaa1SdUjFQhQ==$8cuXS8C+Olwq2hx4QxXY6egfpXa6zC0H9Ra2Pt7+vCw=:QI9ZOdmBegA22kFFYQTZYNt7fwhzpXhRDbzG+zJ2oPc=';

--
-- User Configurations
--








\unrestrict 5lRDGoQ20RyT3R6heTLULXlPqId1a6mt0WDaexqDwD2a8ZLnJBEQpsC45wA5OtP

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: nexus
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO nexus;

\unrestrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK
\connect template1
\restrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: nexus
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: nexus
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK
\connect template1
\restrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: nexus
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 1cihvm3dX3tOtcPU9RHMUk2v4Pusnm9RkeZqW33VxM6BNM6JUi5lohwfuXifctK

--
-- Database "nexus_db" dump
--

--
-- PostgreSQL database dump
--

\restrict BrCb3TFJFgetvYZWrdzSaPv4vZw5YxCwr902zxgNuumPl7JyDJG14fRDWuHlNpT

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: nexus_db; Type: DATABASE; Schema: -; Owner: nexus
--

CREATE DATABASE nexus_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE nexus_db OWNER TO nexus;

\unrestrict BrCb3TFJFgetvYZWrdzSaPv4vZw5YxCwr902zxgNuumPl7JyDJG14fRDWuHlNpT
\connect nexus_db
\restrict BrCb3TFJFgetvYZWrdzSaPv4vZw5YxCwr902zxgNuumPl7JyDJG14fRDWuHlNpT

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: nexus
--

CREATE TYPE public."Role" AS ENUM (
    'CANDIDAT',
    'ENTREPRISE',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO nexus;

--
-- Name: StatutCandidature; Type: TYPE; Schema: public; Owner: nexus
--

CREATE TYPE public."StatutCandidature" AS ENUM (
    'EN_ATTENTE',
    'VUE',
    'ENTRETIEN',
    'ACCEPTE',
    'REFUSE'
);


ALTER TYPE public."StatutCandidature" OWNER TO nexus;

--
-- Name: StatutOffre; Type: TYPE; Schema: public; Owner: nexus
--

CREATE TYPE public."StatutOffre" AS ENUM (
    'EN_ATTENTE',
    'OUVERTE',
    'FERMEE'
);


ALTER TYPE public."StatutOffre" OWNER TO nexus;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO nexus;

--
-- Name: candidats; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.candidats (
    id integer NOT NULL,
    "utilisateurId" integer NOT NULL,
    prenom text NOT NULL,
    nom text NOT NULL,
    telephone text,
    localisation text,
    titre text,
    bio text,
    "cvUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.candidats OWNER TO nexus;

--
-- Name: candidats_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.candidats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidats_id_seq OWNER TO nexus;

--
-- Name: candidats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.candidats_id_seq OWNED BY public.candidats.id;


--
-- Name: candidatures; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.candidatures (
    id integer NOT NULL,
    "candidatId" integer NOT NULL,
    "offreId" integer NOT NULL,
    statut public."StatutCandidature" DEFAULT 'EN_ATTENTE'::public."StatutCandidature" NOT NULL,
    lettre text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.candidatures OWNER TO nexus;

--
-- Name: candidatures_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.candidatures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.candidatures_id_seq OWNER TO nexus;

--
-- Name: candidatures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.candidatures_id_seq OWNED BY public.candidatures.id;


--
-- Name: competence_candidats; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.competence_candidats (
    "candidatId" integer NOT NULL,
    "competenceId" integer NOT NULL,
    niveau integer DEFAULT 50 NOT NULL
);


ALTER TABLE public.competence_candidats OWNER TO nexus;

--
-- Name: competence_offres; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.competence_offres (
    "offreId" integer NOT NULL,
    "competenceId" integer NOT NULL
);


ALTER TABLE public.competence_offres OWNER TO nexus;

--
-- Name: competences; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.competences (
    id integer NOT NULL,
    nom text NOT NULL
);


ALTER TABLE public.competences OWNER TO nexus;

--
-- Name: competences_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.competences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.competences_id_seq OWNER TO nexus;

--
-- Name: competences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.competences_id_seq OWNED BY public.competences.id;


--
-- Name: entreprises; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.entreprises (
    id integer NOT NULL,
    "utilisateurId" integer NOT NULL,
    nom text NOT NULL,
    description text,
    secteur text,
    "siteWeb" text,
    "logoUrl" text,
    localisation text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.entreprises OWNER TO nexus;

--
-- Name: entreprises_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.entreprises_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entreprises_id_seq OWNER TO nexus;

--
-- Name: entreprises_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.entreprises_id_seq OWNED BY public.entreprises.id;


--
-- Name: experiences; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.experiences (
    id integer NOT NULL,
    "candidatId" integer NOT NULL,
    poste text NOT NULL,
    entreprise text NOT NULL,
    "dateDebut" text NOT NULL,
    "dateFin" text,
    actuel boolean DEFAULT false NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.experiences OWNER TO nexus;

--
-- Name: experiences_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.experiences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.experiences_id_seq OWNER TO nexus;

--
-- Name: experiences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.experiences_id_seq OWNED BY public.experiences.id;


--
-- Name: formations; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.formations (
    id integer NOT NULL,
    "candidatId" integer NOT NULL,
    diplome text NOT NULL,
    ecole text NOT NULL,
    annee text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.formations OWNER TO nexus;

--
-- Name: formations_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.formations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formations_id_seq OWNER TO nexus;

--
-- Name: formations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.formations_id_seq OWNED BY public.formations.id;


--
-- Name: langues; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.langues (
    id integer NOT NULL,
    "candidatId" integer NOT NULL,
    nom text NOT NULL,
    niveau text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.langues OWNER TO nexus;

--
-- Name: langues_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.langues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.langues_id_seq OWNER TO nexus;

--
-- Name: langues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.langues_id_seq OWNED BY public.langues.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    "utilisateurId" integer NOT NULL,
    titre text NOT NULL,
    message text NOT NULL,
    lu boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO nexus;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO nexus;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: offres; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.offres (
    id integer NOT NULL,
    titre text NOT NULL,
    description text NOT NULL,
    type_contrat text NOT NULL,
    niveau_experience text,
    localisation text,
    salaire_min integer,
    salaire_max integer,
    statut public."StatutOffre" DEFAULT 'EN_ATTENTE'::public."StatutOffre" NOT NULL,
    "entrepriseId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.offres OWNER TO nexus;

--
-- Name: offres_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.offres_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.offres_id_seq OWNER TO nexus;

--
-- Name: offres_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.offres_id_seq OWNED BY public.offres.id;


--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: nexus
--

CREATE TABLE public.utilisateurs (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.utilisateurs OWNER TO nexus;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE; Schema: public; Owner: nexus
--

CREATE SEQUENCE public.utilisateurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilisateurs_id_seq OWNER TO nexus;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nexus
--

ALTER SEQUENCE public.utilisateurs_id_seq OWNED BY public.utilisateurs.id;


--
-- Name: candidats id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidats ALTER COLUMN id SET DEFAULT nextval('public.candidats_id_seq'::regclass);


--
-- Name: candidatures id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidatures ALTER COLUMN id SET DEFAULT nextval('public.candidatures_id_seq'::regclass);


--
-- Name: competences id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competences ALTER COLUMN id SET DEFAULT nextval('public.competences_id_seq'::regclass);


--
-- Name: entreprises id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.entreprises ALTER COLUMN id SET DEFAULT nextval('public.entreprises_id_seq'::regclass);


--
-- Name: experiences id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.experiences ALTER COLUMN id SET DEFAULT nextval('public.experiences_id_seq'::regclass);


--
-- Name: formations id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.formations ALTER COLUMN id SET DEFAULT nextval('public.formations_id_seq'::regclass);


--
-- Name: langues id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.langues ALTER COLUMN id SET DEFAULT nextval('public.langues_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: offres id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.offres ALTER COLUMN id SET DEFAULT nextval('public.offres_id_seq'::regclass);


--
-- Name: utilisateurs id; Type: DEFAULT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.utilisateurs ALTER COLUMN id SET DEFAULT nextval('public.utilisateurs_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
2d22f31a-989e-497c-bc1e-c1ed3bc30d31	24c8134f8144b9f81ea2471c7da22945fa3d915f0f2f346debb5e8f3f30d3201	2026-03-13 11:14:00.424657+00	20260313111400_init	\N	\N	2026-03-13 11:14:00.270937+00	1
8f8cf450-f592-453e-a5d9-9d45fe6c3731	f29a4fecbe36dfa37e78025c0fa00f24d59a6cce683c5c3f17ca42ee43728633	2026-04-02 08:22:00.733294+00	20260402082200_add_profile_models	\N	\N	2026-04-02 08:22:00.624596+00	1
\.


--
-- Data for Name: candidats; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.candidats (id, "utilisateurId", prenom, nom, telephone, localisation, titre, bio, "cvUrl", "createdAt", "updatedAt") FROM stdin;
2	12	louay	alami	+212699296620	tanger, maroc	ingenieur full stack	test test test.	/uploads/cv/cv-1775140751501-203553250.pdf	2026-03-13 15:48:41.101	2026-04-02 14:39:11.511
1	1	Jean	Dupont	\N	\N	\N	\N	/uploads/cv/cv-1775475931104-905891735.pdf	2026-03-13 11:31:47.688	2026-04-06 11:45:31.133
\.


--
-- Data for Name: candidatures; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Data for Name: competence_candidats; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.competence_candidats ("candidatId", "competenceId", niveau) FROM stdin;
2	4	70
2	2	80
\.


--
-- Data for Name: competence_offres; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.competence_offres ("offreId", "competenceId") FROM stdin;
2	4
2	5
2	7
2	6
3	4
3	6
3	8
3	9
4	10
4	13
4	12
4	11
5	10
5	16
5	14
5	15
6	19
6	20
6	18
6	17
7	19
7	21
7	22
8	2
8	3
8	23
8	1
9	24
9	26
9	25
9	7
10	3
10	1
10	23
10	27
11	2
11	1
11	28
11	29
12	30
12	33
12	31
12	32
13	4
13	36
13	35
13	34
14	4
14	38
14	37
14	23
1	2
1	1
1	3
16	48
16	44
16	47
16	49
15	2
17	50
\.


--
-- Data for Name: competences; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Data for Name: entreprises; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Data for Name: experiences; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.experiences (id, "candidatId", poste, entreprise, "dateDebut", "dateFin", actuel, description, "createdAt") FROM stdin;
3	2	ingenieur full stack	s3m	2025		t		2026-04-02 08:52:54.585
4	2	wws	ws	ws		t		2026-04-02 10:42:46.126
\.


--
-- Data for Name: formations; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.formations (id, "candidatId", diplome, ecole, annee, "createdAt") FROM stdin;
1	2	genie informatique	ensat	2024	2026-04-02 08:52:01.932
2	2	ws	ws	ws	2026-04-02 10:42:51.109
\.


--
-- Data for Name: langues; Type: TABLE DATA; Schema: public; Owner: nexus
--

COPY public.langues (id, "candidatId", nom, niveau, "createdAt") FROM stdin;
1	2	anglais	Avanc├⌐	2026-04-02 08:52:14.154
2	2	Arabe	Natif	2026-04-02 09:28:45.699
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Data for Name: offres; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: nexus
--



--
-- Name: candidats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.candidats_id_seq', 2, true);


--
-- Name: candidatures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.candidatures_id_seq', 11, true);


--
-- Name: competences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.competences_id_seq', 50, true);


--
-- Name: entreprises_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.entreprises_id_seq', 10, true);


--
-- Name: experiences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.experiences_id_seq', 4, true);


--
-- Name: formations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.formations_id_seq', 2, true);


--
-- Name: langues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.langues_id_seq', 2, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.notifications_id_seq', 8, true);


--
-- Name: offres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.offres_id_seq', 18, true);


--
-- Name: utilisateurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nexus
--

SELECT pg_catalog.setval('public.utilisateurs_id_seq', 13, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: candidats candidats_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidats
    ADD CONSTRAINT candidats_pkey PRIMARY KEY (id);


--
-- Name: candidatures candidatures_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidatures
    ADD CONSTRAINT candidatures_pkey PRIMARY KEY (id);


--
-- Name: competence_candidats competence_candidats_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_candidats
    ADD CONSTRAINT competence_candidats_pkey PRIMARY KEY ("candidatId", "competenceId");


--
-- Name: competence_offres competence_offres_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_offres
    ADD CONSTRAINT competence_offres_pkey PRIMARY KEY ("offreId", "competenceId");


--
-- Name: competences competences_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competences
    ADD CONSTRAINT competences_pkey PRIMARY KEY (id);


--
-- Name: entreprises entreprises_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.entreprises
    ADD CONSTRAINT entreprises_pkey PRIMARY KEY (id);


--
-- Name: experiences experiences_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT experiences_pkey PRIMARY KEY (id);


--
-- Name: formations formations_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.formations
    ADD CONSTRAINT formations_pkey PRIMARY KEY (id);


--
-- Name: langues langues_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.langues
    ADD CONSTRAINT langues_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: offres offres_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.offres
    ADD CONSTRAINT offres_pkey PRIMARY KEY (id);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id);


--
-- Name: candidats_utilisateurId_key; Type: INDEX; Schema: public; Owner: nexus
--

CREATE UNIQUE INDEX "candidats_utilisateurId_key" ON public.candidats USING btree ("utilisateurId");


--
-- Name: candidatures_candidatId_offreId_key; Type: INDEX; Schema: public; Owner: nexus
--

CREATE UNIQUE INDEX "candidatures_candidatId_offreId_key" ON public.candidatures USING btree ("candidatId", "offreId");


--
-- Name: competences_nom_key; Type: INDEX; Schema: public; Owner: nexus
--

CREATE UNIQUE INDEX competences_nom_key ON public.competences USING btree (nom);


--
-- Name: entreprises_utilisateurId_key; Type: INDEX; Schema: public; Owner: nexus
--

CREATE UNIQUE INDEX "entreprises_utilisateurId_key" ON public.entreprises USING btree ("utilisateurId");


--
-- Name: utilisateurs_email_key; Type: INDEX; Schema: public; Owner: nexus
--

CREATE UNIQUE INDEX utilisateurs_email_key ON public.utilisateurs USING btree (email);


--
-- Name: candidats candidats_utilisateurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidats
    ADD CONSTRAINT "candidats_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidatures candidatures_candidatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidatures
    ADD CONSTRAINT "candidatures_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES public.candidats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: candidatures candidatures_offreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.candidatures
    ADD CONSTRAINT "candidatures_offreId_fkey" FOREIGN KEY ("offreId") REFERENCES public.offres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: competence_candidats competence_candidats_candidatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_candidats
    ADD CONSTRAINT "competence_candidats_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES public.candidats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: competence_candidats competence_candidats_competenceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_candidats
    ADD CONSTRAINT "competence_candidats_competenceId_fkey" FOREIGN KEY ("competenceId") REFERENCES public.competences(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: competence_offres competence_offres_competenceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_offres
    ADD CONSTRAINT "competence_offres_competenceId_fkey" FOREIGN KEY ("competenceId") REFERENCES public.competences(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: competence_offres competence_offres_offreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.competence_offres
    ADD CONSTRAINT "competence_offres_offreId_fkey" FOREIGN KEY ("offreId") REFERENCES public.offres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: entreprises entreprises_utilisateurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.entreprises
    ADD CONSTRAINT "entreprises_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: experiences experiences_candidatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.experiences
    ADD CONSTRAINT "experiences_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES public.candidats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: formations formations_candidatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.formations
    ADD CONSTRAINT "formations_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES public.candidats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: langues langues_candidatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.langues
    ADD CONSTRAINT "langues_candidatId_fkey" FOREIGN KEY ("candidatId") REFERENCES public.candidats(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_utilisateurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_utilisateurId_fkey" FOREIGN KEY ("utilisateurId") REFERENCES public.utilisateurs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: offres offres_entrepriseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nexus
--

ALTER TABLE ONLY public.offres
    ADD CONSTRAINT "offres_entrepriseId_fkey" FOREIGN KEY ("entrepriseId") REFERENCES public.entreprises(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict BrCb3TFJFgetvYZWrdzSaPv4vZw5YxCwr902zxgNuumPl7JyDJG14fRDWuHlNpT

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict fZXZeV3kZj54mvupt3X90M3k5fEXYm7Gf7FKwkUgdQreutFc8XvGjj0QHqF7X9W

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: nexus
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO nexus;

\unrestrict fZXZeV3kZj54mvupt3X90M3k5fEXYm7Gf7FKwkUgdQreutFc8XvGjj0QHqF7X9W
\connect postgres
\restrict fZXZeV3kZj54mvupt3X90M3k5fEXYm7Gf7FKwkUgdQreutFc8XvGjj0QHqF7X9W

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: nexus
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict fZXZeV3kZj54mvupt3X90M3k5fEXYm7Gf7FKwkUgdQreutFc8XvGjj0QHqF7X9W

--
-- PostgreSQL database cluster dump complete
--

