# apps/.gitignore
# dependencies
node_modules/

# build outputs
dist/
build/
.next/
out/

# env files
.env
.env.*
!.env.example

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# typescript
*.tsbuildinfo

# coverage
coverage/

uploads/

__pycache__/
*.pyc
docker-compose.yml
docker-compose.yaml